.notice {
  background-color: var(--color-background-notice);
  border-bottom: 2px solid #B5CCEE;

  display: flex;
  width: 100%;
  height: auto;
  padding: 16px 26px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
}

.scrap-count {
  color: var(--color-text-primary, #212121);

  /* text/status/md */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}

/* 설명 문구 (레이아웃만 유지) */
.notice-description {
  line-height: 1.4;

  color: var(--color-text-primary, #212121);

  /* text/guide/sm */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}

/* 서비스 링크 (행동만 유지) */
.notice-link {
  text-decoration: underline;
  cursor: pointer;
}
