.bottom {
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  gap: 8px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 16px;

  background-color: #fff;
  border-top: 1px solid #fff;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

}

.bottom-button {
  color: var(--color-text-primary, #212121);
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  width: calc(50% - 7px);
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  padding-top: 11px;
  padding-bottom:11px;
  cursor: pointer;
}

.bottom-button.disabled,
.bottom-button.loading,
.bottom-button:disabled {
  background-color: #D1D291;
  cursor: not-allowed;
}

/* 버튼 역할만 유지 */
.bottom-clear {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.50);
  background-color: #fff;
}
  
.bottom-clear:hover {
  background-color: #E8E8E8;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.50);
}

.bottom-submit {
  border-radius: 6px;
  background: #EFF0A4;
  color: var(--color-text-primary);
  border: none;
}

.bottom-submit.disabled {
  color: #ffffff;
  cursor: not-allowed;

  border-radius: 6px;
  background: var(--color-border-muted, #D1D1D1);
  border: none;
  
}

.bottom-submit.loading {
  border-radius: 6px;
  background: var(--color-accent-secondary, #D1D291);
  color: white;
  cursor: wait;
}

.bottom-clear.disabled {
  cursor: not-allowed;
  border-radius: 6px;
  background: var(--color-border-muted, #D1D1D1);
  border: none;
  color: #fff;
}
