.button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 12px;
  border-radius: var(--radius-full);
  border: 1px solid;

  color: var(--color-text-secondary);
  text-decoration: none;

  transition: background-color var(--transition-fast), color var(--transition-fast);
}

.button:hover {
  background-color: var(--color-accent-primary);
  border: 1px solid var(--color-accent-primary);
  color: var(--color-text-primary);
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon,
.linkIcon {
  color: inherit;
  width: 16px;
  height: 16px;
}

.label {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
}

.collapsed {
  width: 36px;
  height: 36px;

  padding: 0;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
}

.collapsed .label,
.collapsed .linkIcon {
  display: none;
}
