.stageButton {
  width: 100%;
  text-align: left;

  padding: 6px 10px;
  border-radius: 8px;

  background: transparent;
  cursor: pointer;
}

/* hover */
.stageButton:hover {
  background-color: var(--color-bg-hover);
}

/* active */
.active {
  background-color: var(--color-bg-active);
  font-weight: 600;
}