.scrap-card {
  border: 1px solid #343434;
  border-radius: 8px;
  padding: 12px;
  background: #fff;
  overflow: visible;
  margin-bottom: 7px;

  width: 100%;
  box-sizing: border-box;
  touch-action: none;
}

.scrap-card.highlighted {
  color: #FFF;
  background-color: #B5CCEE;
  border: 1px solid #FFF
}

.scrap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.header-left {
  display: flex;
  align-items: center;
}

.scrap-sort-icon {
  fill: var(--color-background-point, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #B5CCEE);

  display: inline-flex;
  width: 12px;
  height: 13px;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 7px;
  outline: none;
  cursor: grab;
}

.scrap-sort-icon:focus {
  outline: none;
  cursor: grabbing;
}

.scrap-number-bar {
  stroke-width: 1px;
  stroke: var(--color-text-primary, #212121);

  width: 3px;
  height: 12px;
  margin-left: 6px;
}

.scrap-delete {
  width: 20px;
  height: 20px;

  fill: var(--color-background-point, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #B5CCEE);

  border: none;
  background: none;

  display: flex;              /* 핵심 */
  align-items: center;        /* 세로 중앙 */
  justify-content: center;    /* 가로 중앙 */

  padding: 0;

  line-height: 0;             /* 🔥 baseline 영향 제거 */
  cursor: pointer;
}

.scrap-delete svg {
  display: block;   /* 🔥 inline baseline 제거 */
  width: 9px;
  height: 11px;
}

.scrap-text {
  white-space: pre-wrap; /* 줄바꿈 유지 */
  overflow: hidden;

  color: var(--color-text-primary, #212121);

  /* text/body/sm */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  padding-left: 10px;
  padding-right: 10px;
}

.scrap-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1px;
}

.scrap-toggle {
  background: none;
  border: none;
  cursor: pointer;

  color: var(--color-action-primary, #3582F0);

  /* text/action/xs */
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;

  justify-content: center;
  white-space: nowrap;

  display: inline-flex;
  align-items: center;

  gap: 2px;
}
.scrap-toggle svg {
  display: block;
  position: relative;
  top: 1px;
}