.scrap-card {
  border: 1px solid #343434;
  border-radius: 8px;
  padding: 12px;
  background: #fff;
  overflow: visible;
  margin-bottom: 7px;
}

.scrap-card.highlighted {
  color: #FFF;
  background-color: #B5CCEE;
  border: 1px solid #FFF
}

.scrap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.scrap-text {
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap; /* 줄바꿈 유지 */
  overflow: hidden;
}

.scrap-footer {
  margin-top: 6px;
}

.scrap-toggle {
  background: none;
  border: none;
  padding: 0;
  font-size: 12px;
  cursor: pointer;
}
