.project-setting {
  padding: 7px;
}

.project {
  gap: 10px;
  margin-bottom: 18px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-select {
  margin-left: 24px;
  margin-right: 24px;

  width: calc(100% - 48px);
  height: 40px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  
  color: var(--color-text-primary, #212121);
  font-family: Pretendard;
  font-size: 13.353px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  align-self: stretch;

  margin-left: 24px;
}

input,
textarea,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.preview-box {
  min-height: 120px;
  padding: 12px;
  border-radius: 8px;
  background: #f7f7f7;
}

input.error {
  border: 2px solid #FF7878;
}

.error-text {
  margin-top: 4px;
  font-size: 12px;
  color: #FF7878;
}

.ai-badge {
  display: inline-flex;
  padding: 4px 7px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 25px;
  background: #EFF0A4;
}